
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
}

.paquetes {
    display: flex;
    justify-content: center;
    height: auto;
}

.pack1 {
    background-color: #0aa696;
    display: inline-block;
    width: 500px;
    height: auto;
    padding: 5px;
    text-align: center;
    margin: 10px;
}

.pack2 {
    background-color: #d97925;
    display: inline-block;
    width: 500px;
    height: auto;
    padding: 5px;
    text-align: center;
    margin: 10px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(13, 13, 14);
    margin: 2%;
    visibility: visible;
    text-align: justify;
}

.h2-paquete {
    background-color: #0a3b59;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 44px;
    color: aliceblue;
    text-align: center;
    margin: 2% 0%;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 3%;
}
