@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100%;
    background-color: #fff;
}

header {
    position: fixed;
    padding: 0 2rem;
    background-color: #0A3B59;
    left: 0;
    right: 0;
}