/*Estilos tarjetas de destinos*/

.cards {
    display: grid;
    place-items: center center;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card {
    background-color: #0A3B59;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.199);
}



.container img {
    width: 22rem;
    height: 18rem;
    display: block;
    border-radius: 20px 20px 0 0;
}