@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #fff;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* Header :) */
header {
    position: relative;
    padding: 0 2rem;
    background-color: #0A3B59;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #666547;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.coffee_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.coffee_btn:hover {
    scale: 1.05;
    color: #fff;
}

.coffee_btn:active {
    scale: 0.95;
}

/* Dropdown */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .coffee_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Home */
section#home {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Responsiveness */
@media(max-width: 992px) {

    .navbar .links,
    .navbar .coffee_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


/*SLIDER SEBA*/
.contenedor {
    width: 100%;
}

.sliderContenedor {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.contenidoSlider {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenidoSlider>img {
    display: block;
    
}

.contenidoSlider>div {
    width: 40%;
}

.contenidoSlider h2 {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenidoSlider h3 {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenidoSlider a {
    color: white;
    background-color: rgb(240, 84, 0);
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 50%;
}

#Texto {
    width: 40%;
}


#tarjeta1 {
    background-color: #fff;
}

#tarjeta2 {
    background-color: turquoise;
}

#tarjeta3 {
    background-color: coral;
}


.direcciones {
    width: 99%;
    height: 100%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.direcciones a {
    color: blue;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones a:hover {
    background: rgba(255, 255, 255, 0.5);
    transition: .5s;
}

/*footer miri*/
.footer {
    background-color: rgb(24, 61, 97);
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.footer-logo {
    width: 100px;
    text-align: right;
}

.footer-links a {
    color: #f91;
    text-decoration: none;
    text-align: justify;
    margin: 0 10px;
}

.footer-help a {
    color: #f91;
    text-decoration: none;
    text-align: justify;
    margin: 0 10px;
}