
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: "Poppins",sans-serif;
}



.contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.sliderContenedor{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.contenidoSlider{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenidoSlider > div{
    width: 40%;
}

.contenidoSlider h2{
    background: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenidoSlider h3{
    background: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenidoSlider  #info{
    color: white;
    background-color: #D97925;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}

#info:hover{
    background: rgba(217, 122, 38, 0.5);
    transition: .5s;
}

#Texto{
    width: 40%;
}

#tarjeta1{
    background:url(imagenCarussel/Perú/Machu-Picchu.png);
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 500px;
    width: 100%;
}

#tarjeta2{
    background: url(imagenCarussel/Brasil/Playa.png);
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 500px;
    width: 100%;
}

#tarjeta3{
    background:url(imagenCarussel/Chile/Pascua.png);
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 500px;
    width: 100%;
}

.direcciones{
    position: absolute;
    top: 30%;
    display: flex;
    font-size: 20px;
}

.direcciones a{
    color: blue;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones a:hover{
    background: rgba(255, 255, 255, 0.5);
    transition: .5s;
}

#atras{
    align-self: flex-start;
}

#adelante{
    align-self: flex-end;
}

.contenedorBotones{
    text-align: center;
    margin: 1%;
}
.botones{
    display: inline-flex;
    text-align: center;
    justify-content:space-around;

}

.botones >a{
    
    display: inline-block;
    color: blue;
    text-align: center;
    text-decoration: none;
    background-color: #D97925;
    padding: 60%;
    width: 50%;
    height: 50%;
    font-size: 20px;
    border-radius: 100%;
    cursor: pointer;
}


.botones >a:hover{
    background:rgba(217, 122, 38, 0.5);
    transition: .5s;
}