*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

#conteinerCarrusel{
    border: 5px solid black;
    height: 200px;
    overflow: hidden;

    
}

#tarjetaCarrusel1{
    height: 100%;
    background-color: rgb(149, 225, 217);
}

#tarjetaCarrusel2{
    height: 100%;
    background-color: rgb(176, 102, 246);
}

#tarjetaCarrusel3{
    height: 100%;
    background-color: rgb(114, 114, 252);
}

.itemCarrusel{
    border: 1px solid black;
    height: 200px;
}

.tarjetaCarrusel{
    height: 100%;
    text-align: center;
}

.flechas{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
}

#conteinerPuntos{
    display: flex;
    justify-content: space-around;
}

#conteinerPuntos > a {
    font-size: 1.5cm;
    font-style: none;
    color: rgb(108, 57, 237);
}

img{
    justify-content: end;
    height: 100%;
    width: 700px;
}
